.sidebar {
    background-color:transparent;
    height: 80px;
    display: flex;
    justify-content: start;
    align-items: center;
  }

.menu-arrow{
    transition: all 1s ease-out;
    transform: rotateY(180deg);
    top: 20% 20%; 
    z-index: 5;
}
.menu-arrow :hover {
    color: lightgrey;
    transition: color .3s ease-in-out;
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;
    transition-delay: 0s;
}
  
.sidebar-menu {
    padding-top: 17%;
    background-color: transparent;
    width: 6%;
    height: 100%;
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    left: -100%;
    transition: 850ms;

}
  
.sidebar-menu.active {
    left: 0;
    transform: 350ms;
}
.sidebar-text{
    font-family: monospace;
    color: #ffffff;
    font-size: 20%;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 16px;
    border-radius: 4px;
    list-style: none;
}

ul {
    list-style: none;
}

.sidebar-text {
    width: 100%;
    list-style: none;

}

.nav-text{
    font-family: monospace;
    font-size: 160%;
    padding-top: 40px;
    align-items: center;
    justify-content: center;
    text-align: center;
}


a:any-link {
    text-decoration: none;
    color: black;
    cursor: pointer;
}
a:hover {
    color: lightgrey;
    transition: color .3s ease-in-out;
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;
    transition-delay: 0s;

}
.sidebar-toggle {
    rotate: 90deg;
    padding-top: 20px;
    width: 100%;
    size: 20px;
}
