
:root {
    --primary: black; 
}
/* constructs the standard padding and radius for a button */
.btn {
    padding: 10px 20px; 
    border-radius: 4px; 
    outline: none;
    border: none;
    cursor: pointer;
    white-space: nowrap
}

/* this forces every tagged button (--primiary) to have this custom css*/
.btn--primary {
    background-color: var(--primary);
    color:black; 
    border: 1px solid var(--primary)
}

/* makes the outline on the button transparent and changed the color to white */
.btn--outline {
    background-color: transparent;
    color: white;
    padding: 8px 20px; 
    border: 1px solid var(--primary);
    transition: all 0.3s ease-out;
}

/* Makes a standard medium button sign up button in navbar */
.btn--medium {
    padding: 8px 16px;
    font-size: 14px;
}
/* Makes a standard large button*/
.btn--large {
    padding: 12px 20px;
    font-size: 16px;
}

/* Makes a standard mobile button px width < 960*/
.btn--mobile {
    text-align: center;
    border-radius: 4px;
    width: 80%;
    text-decoration: none;
    font-size: 24px;
    background-color: transparent;
    color: white;
    padding: 14px 20px;
    border: 1px solid white;
    transition: all 0.3s ease-out;
}

/* On hover, creates a transition effect on each button type specified */
.btn--large:hover, btn--medium:hover, btn-mobile:hover {
    transition: all 0.3s ease-out;
    background-color: white;
    color: black;
}
/* Makes the top Nav border color */
.pastel-green {
    background-color: #C1E1C1;
    color: white;
    border: none;
}

/* Makes a standard button grey*/
.primary {
    background-color:grey;
    color: white;
    border: none;
}

/* On a standard hover makes color white*/
.primary:hover {
    background-color: white;
    color: black;
    border: none;
}

